#requireResource("confluence.macros.advanced:recently-updated-social-resources")
#if ($mobile)
    #requireResource("confluence.macros.advanced:recently-updated-mobile-resources")
#end

<div class="recently-updated recently-updated-social" #if ($width)style="width: $generalUtil.htmlEncode($width)"#end>
    #parse ("/com/atlassian/confluence/plugins/macros/advanced/recentupdate/sub-heading.vm")
    #parse ("/com/atlassian/confluence/plugins/macros/advanced/recentupdate/filter-control.vm")
    #parse ("/com/atlassian/confluence/plugins/macros/advanced/recentupdate/hidden-macro-parameters.vm")
    <div class="results-container">
        #parse ("/com/atlassian/confluence/plugins/macros/advanced/recentupdate/themes/social/updates.vm")
    </div>
</div>
