#set( $px = "px")
<div>
    #if( $testCase.successRate > 0 )
        #set ($successWidth = ($testCase.successRate * 1.5))
        <span style="width: $successWidth$px;" class="greenbar"></span>
    #end
    #if( $testCase.failureRate > 0 )
        #set ($failureWidth = ($testCase.failureRate * 1.5))
        <span style="width: $failureWidth$px;" class="redbar"></span>
    #end
    #if( $testCase.errorRate > 0 )
        #set ($errorWidth = ($testCase.errorRate * 1.5))
        <span style="width: $errorWidth$px;" class="darkredbar"></span>
    #end
</div>