<h2>$action.getText("macros.index.title")</h2>

<p>
<table width="99%" cellspacing="0" class="grid">
    <tr>
        <td colspan="2">
         <table width="100%">
           <tr>#foreach ($key in $pages.keys)
                <td><a href="#index-$generalUtil.urlEncode($key)">$key</a> ... $pages.getPageCount($key)</td>
                   #set ($remainder = $velocityCount % 6)
                   #if ($remainder == 0 && $velocityCount != $pages.keys.size())
                        </tr><tr>
                   #end
                #end
                #if ($remainder > 0)
                    #set ($count = 6 - $remainder)
                    #foreach ($int in [1..$count])
                        <td>&nbsp;</td>
                    #end
                #end
            </tr>
         </table>
        </td>
    </tr>
   <tr valign="top">#foreach ($key in $pages.keys)
        <td><h4 style="margin-top: 0px"><a name="index-$generalUtil.urlEncode($key)"></a>$key</h4>
        #foreach ($page in $pages.getPages($key))
            #contentLink2WithLinkPrefix($page true false $baseurl)<br />
             <div class="smalltext" style="margin: 0 0 0 36px">$thisMacro.getHtmlSafeExcerpt($page)</div>
        #end</td>
           #set ($remainder = $velocityCount % 2)
           #if ($velocityCount % 2 == 0 && $velocityCount != $pages.keys.size())
                </tr><tr valign="top">
           #end
        #end
        #if ($remainder > 0)
            #set ($count = 2 - $remainder)
            #foreach ($int in [1..$count])
                <td>&nbsp;</td>
            #end
        #end
    </tr>
</table>
</p>
