#requireResource("confluence.macros.advanced:blogpost-resources")
#if ($mobile)
    #requireResource("confluence.macros.advanced:blogpost-mobile-resources")
#end

#if ($posts.size() == 0)
    <div class="blog-post macro-blank-experience" #if ($width)style="width: $generalUtil.htmlEncode($width)" #end>
        <h2>$i18n.getText('blogposts.emptymacro.label')</h2>
        <p>$i18n.getText('blogposts.emptymacro.content')</p>
        #if ($canCreateBlog)
            <p>
                <a href="$createBlogPostURL" class="aui-button">$i18n.getText('blogposts.emptymacro.button.label')</a>
            </p>
        #end
    </div>
#else
    #foreach ($postTuple in $posts)
        #set ($trimmed = $postTuple.trimmedExcerpt)
        #set ($blog = $postTuple.post)
        #set ($blogBody = $postTuple.renderedHtml)
        #set ($showIconBlock = true)

        #parse("/pages/blogpost-listing.vm")

    #end
#end