            <tr bgcolor=ffffff>
                <td>
  {children}
                    <br/>
                    <br/>
  {children:all=true}
                    <br/>
                    <br/>
  {children:depth=x}
                    <br/>
                    <br/>
  {children:depth=x|style=h3}
                    <br/>
                    <br/>
  {children:excerpt=true}
                    <br/>
                    <br/>
  {children:page=Another Page}
                    <br/>
                    <br/>
  {children:page=/}
                    <br/>
                    <br/>
  {children:page=SPACEKEY:}
                    <br/>
                    <br/>
  {children:page=SPACEKEY:Page Title}
                    <br/>
                    <br/>
  {children:first=x}
                    <br/>
                    <br/>
  {children:sort=&lt;mode&gt;|reverse=&lt;<i>true or false</i>&gt;}
                </td>
                <td>
  $action.getText('children.desc.text')
                    <p>
  $action.getText('example.name'):
                        <ul>
                            <li>$action.getText('children.child')</li>
                            <li>$action.getText('children.another.child')</li>
                        </ul>

                        <ul>
                            <li>$action.getText('children.child')</li>
                            <ul>
                                <li>$action.getText('children.first.grandchild')</li>
                            </ul>
                            <li>$action.getText('children.another.child')</li>
                        </ul>
                    </p>
$action.getText('children.desc.text2')
                </td>
            </tr>