#requireResource("confluence.web.resources:jquery")
#requireResource("confluence.macros.advanced:navmap-resources")

<table class="navMapContainer" cellspacing="8px">
    #if ($title && $title.length() > 0)
    <tr>
        <th colspan="$wrapAfter">$generalUtil.htmlEncode( $title )</th>
    </tr>
    #end
    <tr>
        #foreach ($page in $pages)
        <td valign="middle">
            <center><a href="$req.contextPath$page.urlPath" class="navMapCell">$hyphenBean.getString($page.title)</a></center>
        </td>
        #if ($velocityCount == $pages.size()) </tr>
    #elseif ($velocityCount % $wrapAfter == 0)</tr><tr>#end
    #end
</table>
<fieldset class="hidden">
    <input type="hidden" name="navmapCellWidth" value="$cellWidth"/>
    <input type="hidden" name="navmapCellHeight" value="$cellHeight"/>
</fieldset>