<tr bgcolor=ffffff>
    <td>
        {navmap:mylabel}
        <br/>
        {navmap:mylabel|wrapAfter=3|cellWidth=110|cellHeight=20|theme=mytheme}
        <br/>
    </td>

    <td>
        <p>
            $action.getText('navmap.desc')
            <br/>
            $action.getText('navmap.label.must.be.specified')
            <ul>
                <li><b>title</b> - $action.getText('navmap.title.desc')</li>
                <li><b>wrapAfter</b> - $action.getText('navmap.wrapafter.desc')</li>
                <li><b>cellWidth</b> - $action.getText('navmap.cellwidth.desc')</li>
                <li><b>cellHeight</b> - $action.getText('navmap.cellheight.desc')</li>
                <li><b>theme</b> - $action.getText('navmap.theme.desc')
                    </li>
            </ul>
        </p>
        <p>
            <style type="text/css">
                table.navMapContainer {
                    background-color: #f0f0f0;
                    margin: 15px 0px 15px 0px;
                    border: 1px solid #cccccc
                }

                table.navMapContainer th {
                    color: black;
                    font-weight: bold;
                    font-size: 14px;
                    text-align: left;
                }

                a.navMapCell, a.navMapCell:visited {
                    background-color: #3c78b5;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    width: 110px;
                    height: 20px;
                    border: 1px solid white;
                }

                a.navMapCell:hover {
                    background-color: #003366;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    width: 110px;
                    height: 20px;
                    border: 1px solid white;
                }

            </style>
            <table class="navMapContainer" cellspacing="8px">
                <tr>
                    <th colspan="5" style="border: 0px">$action.getText('navmap.toc')</th>
                </tr>
                <tr>
                    <td valign="middle" style="border: 0px">
                        <center><a href="" onClick="return false;" class="navMapCell">$action.getText('navmap.toc.example1')</a></center>
                    </td>

                    <td valign="middle" style="border: 0px">
                        <center><a href="" onClick="return false;"  class="navMapCell">$action.getText('navmap.toc.example2')</a></center>
                    </td>
                    <td valign="middle" style="border: 0px">
                        <center><a href="" onClick="return false;"  class="navMapCell">$action.getText('navmap.toc.example3')</a></center>
                    </td>
                </tr>
            </table>
        </p>
    </td>
</tr>
