table.navMapContainer {
    background-color: #f0f0f0;
    margin: 15px 0 15px 0;
    border: 1px solid #cccccc;
}

table.navMapContainer th {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.navMapContainer a.navMapCell, .navMapContainer a.navMapCell:link, .navMapContainer a.navMapCell:visited {
    background-color: #3c78b5;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid white;
    width: 90px;
    height: 60px;
}

.navMapContainer a.navMapCell:hover {
    background-color: #003366;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid white;
    width: 90px;
    height: 60px;
}