#htmlSafe()

<script>
    function toggleThumbnail(thumbnailCounter)
    {
        // toggle arrow
        var twixieImgElement = document.getElementById('twixie-' + thumbnailCounter);
        if (twixieImgElement.src.indexOf('right.png') != -1)
            twixieImgElement.src = '$req.contextPath/images/icons/arrow_down.png';
        else
            twixieImgElement.src = '$req.contextPath/images/icons/arrow_right.png';

        // toggle show/hide status of the thumbnail
        var thumbnailId = 'thumbnail-' + thumbnailCounter;
        var thumbnailImgElement = document.getElementById(thumbnailId);

        if (thumbnailImgElement.style.display == 'none')
            thumbnailImgElement.style.display = '';
        else
            thumbnailImgElement.style.display = 'none';
    }
</script>

#if ("$title" != "")
    <div class="tabletitle fullWidth">
    <div class="tabletitleops">
        #if ($showless)
            <a class="tabletitleop" href="$generalUtil.htmlEncode($showless)" title="$i18NBean.getText("show-less")"><img src="$req.contextPath/images/icons/subtract_12.gif"></a>
        #else
            &nbsp; ## required for correct alignment of floated elements
        #end
        #if ($showmore)
            <a class="tabletitleop" href="$generalUtil.htmlEncode($showmore)" title="$i18NBean.getText("show-more")"><img src="$req.contextPath/images/icons/add_12.gif"></a>
        #else
            &nbsp; ## required for correct alignment of floated elements
        #end
    </div>
    <h2>$title</h2></div>
#end

#if ($changeSets.size() > 0)
    #foreach ($changeSet in $changeSets)
        <table class="recentlyUpdatedItem">

        ## assign the running velocityCount so we can use it in the following inside loop
        #set ($runningVelocityCount = $velocityCount)

        #foreach ($changeItem in $changeSet)
            #set ($thumbnailId = "${runningVelocityCount}${velocityCount}")

            #if (!$changeItem.get("lastModifierName"))
                #set ($lastModifier = '') ## work around problem in velocity where it doesn't assign null
            #else
                #set ($lastModifier = $changeItem.get("lastModifierName"))
            #end

            #set ($lastModifiedDate = $changeItem.get("lastModificationDate"))
            <tr>
                #if ($velocityCount == 1)
                    <td class="authorAndDate" rowspan="$changeSet.size()">
                        <div class="profilePic">
                            #userLogoBlockOtherwise("~$lastModifier" "&nbsp;")
                        </div>
                        <div class="author">#usernameLink ($lastModifier)</div>
                        <div class="date" title="$dateFormatter.formatDateTime($lastModifiedDate)">
                            $i18NBean.getText($friendlyDateFormatter.getFormatMessage($lastModifiedDate))
                        </div>
                    </td>
                #end
                <td width="1%" class="twixie">
                    #if ($changeItem.thumbnailInfo)
                        <a href="" onClick="toggleThumbnail('${thumbnailId}'); return false;"><img id="twixie-${thumbnailId}" src="$req.contextPath/images/icons/arrow_right.png" height="16" width="16"/></a>
                    #else
                        <img src="$req.contextPath/images/border/spacer.gif" height="16" width="16"/>
                    #end
                </td>
                <td width="1%" class="icon">
                    #contentIcon2($changeItem "" "$req.contextPath$changeItem.urlPath" $generalUtil.htmlEncode($changeItem.realTitle))
                </td>
                <td class="details">
                    <a href="$req.contextPath$changeItem.urlPath" title="$generalUtil.htmlEncode($changeItem.realTitle)">#if ($changeItem.realTitle.length() > 64)$generalUtil.htmlEncode($textUtil.trimToEndingChar($changeItem.realTitle, 60))...#else$generalUtil.htmlEncode($changeItem.realTitle)#end</a><br/>

                    #if ($changeItem.thumbnailInfo)
                        <a href="$req.contextPath$changeItem.thumbnailInfo.getAttachment().getDownloadPathWithoutVersion()"><img id="thumbnail-${thumbnailId}" class="thumbnail" src="$generalUtil.htmlEncode($changeItem.thumbnailInfo.getThumbnailUrlPath())" width="$!changeItem.thumbnailInfo.getThumbnailWidth()" height="$!changeItem.thumbnailInfo.getThumbnailHeight()" style="display: none"/></a>
                    #end

                    #if ($changeItem.handle.indexOf('Comment') != -1) ## For comments, display a summary of its content
                        #if ($stringUtils.isNotBlank($changeItem.contentBody))
                            <div class="summary">$generalUtil.htmlEncode($generalUtil.shortenString($generalUtil.summarise($changeItem.contentBody), 120))</div>
                        #end
                    #else ## for everything else only display the change comment
                        #if ($stringUtils.isNotEmpty($changeItem.versionComment))
                            <div class="summary">$generalUtil.htmlEncode($generalUtil.shortenString($generalUtil.summarise($changeItem.versionComment), 120))</div>
                        #end
                    #end
                </td>
            </tr>
        #end

        </table>
    #end
#else
    <div class="padded">$i18NBean.getText('recentlyupdated.no.updates')</div>
#end

#* There is too much on the screen as it is without fetching more - disabling this for now *#
#*if ($showMore)
    <div class="moreRecentlyUpdatedItems"><a href="$showmore">$i18NBean.getText('more.word.capitalised')</a></div>
#end*#