#if($title)
<div class="tabletitle"><h2>$title</h2></div>
#end

<table class="tableview">
    #if( !$recentlyUsedLabellings || $recentlyUsedLabellings.size()==0 )
    <tr>
        <td colspan="1">$action.getText("recentlyusedlabels.no-labels-to-display")</td>
    </tr>
    #else
      #foreach ($labelling in $recentlyUsedLabellings)
          <tr onmouseover="rowHover(this)">
	      #set($label = $labelling.label)
	      #set($labelable = $labelling.lableable)
              <td>#labelLink($label) $action.getText("recentlyusedlabels.added-to")
                  #if ( $labelable.urlPath )
                    <a title="$generalUtil.htmlEncode( $labelable.title )" href="${req.contextPath}${labelable.urlPath}">$generalUtil.htmlEncode( $labelable.title )</a>
                  #else
                      $generalUtil.htmlEncode( $labelable.title )
                  #end
                  <span class="smalltext">by #userLink($labelling.owningUser)</span><br/><span class="smalltext">$dateFormatter.formatDateTime($labelling.lastModificationDate)</span>
              </td>
          </tr>
      #end
  #end
</table>
