<tr bgcolor=ffffff>
    <td>
     	 {recently-used-labels}
        <br/>
        <br/>
         {recently-used-labels:scope=space|count=15}
    </td>
    <td>
        <p>
            $action.getText('recentlyusedlabels.desc')
            <ul>
                <li>
                    count - $action.getText('recentlyusedlabels.count.desc')
                </li>
                <li>
                    scope - $action.getText('recentlyusedlabels.scope.desc')
                </li>
                <li>
                    style - $action.getText('recentlyusedlabels.style.desc')
                </li>
                <li>
                    title - $action.getText('recentlyusedlabels.title.desc')
                </li>

            </ul>
        </p>

    </td>
</tr>