<ul>
    #foreach ($updateItem in $updateItems)
    <li class="update-item">
        <div class="update-item-icon">
            <span class="icon $updateItem.iconClass"></span>
        </div>
        <div class="update-item-content">
            #if ($performingHtmlExport)
                $updateItem.linkedUpdateTargetForHtmlExport
            #else
                $updateItem.linkedUpdateTarget
            #end

            <div class="update-item-meta">
                $updateItem.formattedDate<span class="separator"> &bull; </span>$updateItem.descriptionAndAuthor#if ($updateItem.changesLink && !$mobile)<span class="separator"> &bull; </span>$updateItem.changesLink#end
            </div>
        </div>
    </li>
    #end
</ul>
#if (!$mobile)
#parse ("/com/atlassian/confluence/plugins/macros/advanced/recentupdate/more-updates.vm")
#end
